
html {
    height: 100%;
}

input{
    width:150px;
    margin-bottom:3px;
}

table, th, td {
    border: 1px solid black;
}

body {
    background-color: #97986eab; !important;
}

.button {
    display: block;
    width: 80px;
    background: #5d325f;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    line-height: 18px;
    margin-bottom:3px;
    margin-right:3px;
}

.nav-item {
    font-size: 20px !important;
}

.card-img-left {
    width: 100%;
    object-fit: cover;
}

.card-footer{
    position:absolute;
    bottom:0;
    width:100%;
}

/* Sign Up */
.pwd_format {
    position: absolute;
    font-size: 11px;
    width: 150px;
    padding: 5px;
    margin-left: 200px;
    border-radius: 5px;
    display: none;
}

/* Reservation tabs */

#collapsible_content {
    display: block;
}

#reservation {
    /*margin-top:50px;*/
    width: 500px;
    /*margin-left:250px;*/
}

#reservation li {
    display: inline;
    list-style-type: none;
    /*background-color:#688A08;*/
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
    /*color:#292A0A;*/
    font-weight: bold;
    cursor: pointer;
}

#reservation li.notselected {
    /*background-color:#688A08;*/
    /*color:#292A0A;*/
}

#reservation li.selected {
    background-color: #69676785;
    /*color:#292A0A;*/
}

#reservation .hidden_content {
    display: none;
    visibility: hidden;
}

#reservation #page_content {
    background-color: #69676785;
    padding: 10px;
    margin-top: 9px;
    border-radius: 0px 5px 5px 5px;
    /*color:#2E2E2E;*/
    /*line-height: 1.6em;*/
    /*word-spacing:4px;*/
}